@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Share:700,400,700italic,400italic);

/*
Our color palette
69D2E7
A7DBD8
E0E4CC
F38630
FA6900
*/





html {
  height: 100%;
}

body {
  height: 100%;
  background: url("/assets/papar_texture.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  /*background: url("/assets/papar_texture.jpg");*/
  /*font-family: 'Gafata', 'sans-serif';*/
  font-family: 'Share', sans-serif, 'cursive';
  font-weight: 400;
}

ul {
  margin:0;
  padding:0;
  list-style:none;
}

#container {
  height: 100%;
  width: 100%;
}

.slider {
  position: relative;
  width: 100%;
  height: 40%;
  overflow: hidden;
}

.wrapper {
  height: 38%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.advk-logo {
  height: 14%;
  width: 100%;
  background: url("/assets/advk_logo2.png") no-repeat center center;
  background-size: contain;
  opacity: .75;/*
  background-color: white;
  border-top: 10px solid white;
  border-bottom: 10px solid white;

  -webkit-box-shadow: 2px 5px 1px 0px rgba(50, 50, 50, 0.44);
  -moz-box-shadow:    2px 5px 1px 0px rgba(50, 50, 50, 0.44);
  box-shadow:         2px 5px 1px 0px rgba(50, 50, 50, 0.44);*/
}

.landing-choice {
  height: 100%;
  p {
    font-size: 3em;
    position: relative;
    top: 40%;
    background-color: black;
    color: white;
    border-radius: 8px;
    opacity: 0.75;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 2px 5px 1px 0px rgba(50, 50, 50, 0.44);
    -moz-box-shadow:    2px 5px 1px 0px rgba(50, 50, 50, 0.44);
    box-shadow:         2px 5px 1px 0px rgba(50, 50, 50, 0.44);
  }
  form {
    position: relative;
    top: 30%;
    color: white;
    border-radius: 8px;
    opacity: 0.75;
    margin: 0;
    padding: 0;
  }
  span.input-group-addon {
    background-color: none;
  }
}















.slider {
  position: relative;
  width: 100%;
  height: 40%;
  overflow: hidden;
}

.slides {
  height: 100%;

  /* Clear fix */
  overflow: hidden;
  *zoom: 1;

  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.slide {
  height: 100%;
  float: left;
  clear: none;
}



.stitched {
  font-size: 3em;
  position: relative;
  top: 40%;

  padding: 10px;
  color: #fff;
}

.stitched.top {
  border: 2px dashed #E0E4CC;
 
  border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
 
  border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
   
  -moz-box-shadow: 0 0 0 4px #69D2E7, 2px 1px 4px 4px rgba(10,10,0,.5);
  -webkit-box-shadow: 0 0 0 4px #69D2E7, 2px 1px 4px 4px rgba(10,10,0,.5);
  box-shadow: 0 0 0 4px #69D2E7, 2px 1px 6px 4px rgba(10,10,0,.5);
  
  text-shadow: -1px -1px #aa3030;

  background: #69d2e7; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #69d2e7 0%, #a7dbd8 21%, #a7dbd8 79%, #69d2e7 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#69d2e7), color-stop(21%,#a7dbd8), color-stop(79%,#a7dbd8), color-stop(99%,#69d2e7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #69d2e7 0%,#a7dbd8 21%,#a7dbd8 79%,#69d2e7 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #69d2e7 0%,#a7dbd8 21%,#a7dbd8 79%,#69d2e7 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #69d2e7 0%,#a7dbd8 21%,#a7dbd8 79%,#69d2e7 99%); /* IE10+ */
  background: linear-gradient(135deg,  #69d2e7 0%,#a7dbd8 21%,#a7dbd8 79%,#69d2e7 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69d2e7', endColorstr='#69d2e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.stitched.bottom {
  border: 2px dashed #E0E4CC;
 
  border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
 
  border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
   
  -moz-box-shadow: 0 0 0 4px #FA6900, 2px 1px 4px 4px rgba(10,10,0,.5);
  -webkit-box-shadow: 0 0 0 4px #FA6900, 2px 1px 4px 4px rgba(10,10,0,.5);
  box-shadow: 0 0 0 4px #FA6900, 2px 1px 6px 4px rgba(10,10,0,.5);
  
  text-shadow: -1px -1px #aa3030;

  background: #fa6900; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #fa6900 0%, #f38630 21%, #f38630 79%, #fa6900 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fa6900), color-stop(21%,#f38630), color-stop(79%,#f38630), color-stop(99%,#fa6900)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #fa6900 0%,#f38630 21%,#f38630 79%,#fa6900 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #fa6900 0%,#f38630 21%,#f38630 79%,#fa6900 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #fa6900 0%,#f38630 21%,#f38630 79%,#fa6900 99%); /* IE10+ */
  background: linear-gradient(135deg,  #fa6900 0%,#f38630 21%,#f38630 79%,#fa6900 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa6900', endColorstr='#fa6900',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@media screen and (max-width: 600px) {
  .stitched {
    padding: 5px;
    font-size: 1.5em;
  }
}

.flat {
    top: 30%;
    position: relative;

    font-size: 7em;
    font-weight: 700;
    text-shadow: 0px 2px 2px black;
    color: #F38630;
    
    margin: 0;
    padding: 0;

    cursor: pointer;

/*    border-radius: 15px;
    border: 6px solid #F38630;*/
    span {
      font-size: .7em;
    }
  }


@media screen and (max-width: 745px) {
  .flat {
    top: 30%;
    position: relative;

    font-size: 3em;
    font-weight: 700;
    text-shadow: 0px 1px 1px black;
    color: #F38630;
    
    margin: 0;
    padding: 0;

/*    border-radius: 7px;
    border: 3px solid #F38630;*/
  }
}








