@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Share:700,400,700italic,400italic);

/*
Our color palette
69D2E7
A7DBD8
E0E4CC
F38630
FA6900
*/

html {
  height: 100%;
}

body {
  height: 100%;
  background: url("/assets/papar_texture.jpg");
  font-family: 'Share', sans-serif, 'cursive';
  font-weight: 400;
}

#padding-bottom-hack {
  height: 120px;
}

ul {
  margin:0;
  padding:0;
  list-style:none;
}

#container {
  height: 100%;
  width: 100%;
}

.content-container {
  margin: 0 4px 0 4px;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.paper {
  background: url("/assets/papar_texture.jpg") repeat;
  height: 12%;
  width: 100%;
  border: 3px 0;  
  border-top: 2px dashed white;
  border-bottom: 2px dashed white;
    img {
      margin: 3px;
      opacity: .80;
      height: 10%;
    }
}

.landing-choice {
  height: 100%;
  form {
    position: relative;
    top: 30%;
    color: white;
    border-radius: 8px;
    opacity: 0.75;
    margin: 0;
    padding: 0;
  }
  span.input-group-addon {
    background-color: none;
  }
}

.img-container {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 100%;
  float: left;
  margin: 5px;
}

.profile-pic {
  height: 100%;
  width: 100%;
  border: 2px solid white;
}

.header-nav {
  height: 100%;
}

.user-name {
  height: 50%;
  padding: 10px 2px 0 0;
  border-bottom: 1px solid black;
  color: white;
  background-color: black;
}

.user-nav {
  height: 50%;
}


/* WORKING ON USER PAGE STYLING NAV */

.no-margin {
  margin: 0;
  padding: 0;
}

.subheading {
  font-size: 2em;
  font-weight: 700;
  opacity: 0.75;
  color: #69D2E7;
  margin: 10px 0 0 0;
}

/*
Our color palette
69D2E7
A7DBD8
E0E4CC
F38630
FA6900
*/

.list-group h3{
  margin: 0;
}

.advk-logo {
  height: 90px;
  width: 100%;
  background-color: #e0e4cc;
  margin: 0;

  img {
    width: 90%;
    margin: auto;
  }
}

.quad-nav {
  height: 45px;
  width: 100%;
}
.events {
    background-color: #69d2e7;
    border-left: 20px solid white;
  }
.org {
    background-color: #f38630;
    border-left: 20px solid white;
  }
.update-profile {
    background-color: #a7dbd8;
    border-right: 20px solid white;
  }
.logout {
    background-color: #fa6900;
    border-right: 20px solid white;
  }



.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider.top {
  height: 44%;
  background: url("/assets/bgSplash2.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slider.bottom {
  height: 44%;
  background: url("/assets/bgSplash.JPG") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slides {
  height: 100%;

  /* Clear fix */
  overflow: hidden;
  *zoom: 1;

  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.slide {
  height: 100%;
  float: left;
  clear: none;
}

.margin-bottom-sm {
  margin-bottom: 5px;
}

.flat {
  top: 30%;
  position: relative;

  font-size: 5em;
  font-weight: 700;
  text-shadow: 0px 2px 2px black;
  
  margin: 0;
  padding: 0;

  cursor: pointer;

  span {
    font-size: .7em;
  }
}

.flat.top {
    color: #69D2E7;
  }

.flat.bottom {
    color: #F38630;  
  }


@media screen and (max-width: 800px) {
  .flat {
    top: 30%;
    position: relative;

    font-size: 2em;
    font-weight: 700;
    text-shadow: 0px 1px 1px black;
    color: #F38630;
    
    margin: 0;
    padding: 0;

/*    border-radius: 7px;
    border: 3px solid #F38630;*/
  }
}





























.stitched {
  font-size: 3em;
  position: relative;
  top: 40%;

  padding: 10px;
  color: #fff;
}

.stitched.top {
  border: 2px dashed #E0E4CC;
 
  border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
 
  border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
   
  -moz-box-shadow: 0 0 0 4px #69D2E7, 2px 1px 4px 4px rgba(10,10,0,.5);
  -webkit-box-shadow: 0 0 0 4px #69D2E7, 2px 1px 4px 4px rgba(10,10,0,.5);
  box-shadow: 0 0 0 4px #69D2E7, 2px 1px 6px 4px rgba(10,10,0,.5);
  
  text-shadow: -1px -1px #aa3030;

  background: #69d2e7; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #69d2e7 0%, #a7dbd8 21%, #a7dbd8 79%, #69d2e7 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#69d2e7), color-stop(21%,#a7dbd8), color-stop(79%,#a7dbd8), color-stop(99%,#69d2e7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #69d2e7 0%,#a7dbd8 21%,#a7dbd8 79%,#69d2e7 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #69d2e7 0%,#a7dbd8 21%,#a7dbd8 79%,#69d2e7 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #69d2e7 0%,#a7dbd8 21%,#a7dbd8 79%,#69d2e7 99%); /* IE10+ */
  background: linear-gradient(135deg,  #69d2e7 0%,#a7dbd8 21%,#a7dbd8 79%,#69d2e7 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69d2e7', endColorstr='#69d2e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.stitched.bottom {
  border: 2px dashed #E0E4CC;
 
  border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
 
  border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
   
  -moz-box-shadow: 0 0 0 4px #FA6900, 2px 1px 4px 4px rgba(10,10,0,.5);
  -webkit-box-shadow: 0 0 0 4px #FA6900, 2px 1px 4px 4px rgba(10,10,0,.5);
  box-shadow: 0 0 0 4px #FA6900, 2px 1px 6px 4px rgba(10,10,0,.5);
  
  text-shadow: -1px -1px #aa3030;

  background: #fa6900; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #fa6900 0%, #f38630 21%, #f38630 79%, #fa6900 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fa6900), color-stop(21%,#f38630), color-stop(79%,#f38630), color-stop(99%,#fa6900)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #fa6900 0%,#f38630 21%,#f38630 79%,#fa6900 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #fa6900 0%,#f38630 21%,#f38630 79%,#fa6900 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #fa6900 0%,#f38630 21%,#f38630 79%,#fa6900 99%); /* IE10+ */
  background: linear-gradient(135deg,  #fa6900 0%,#f38630 21%,#f38630 79%,#fa6900 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa6900', endColorstr='#fa6900',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@media screen and (max-width: 600px) {
  .stitched {
    padding: 5px;
    font-size: 1.5em;
  }

  .img-container {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 100%;
  float: left;
  margin: 5px;
}
}









/*


Bootstrappy checkboxes


*/


input[type="checkbox"].checkbox {
    display: none;
}
input[type="checkbox"].checkbox + label {
    display: inline;
    position: relative;
    background-color: #b94a48;
    
    /*label styling*/
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input[type="checkbox"].checkbox:checked + label {
    background-color: #468847;
}

input[type="checkbox"].checkbox:disabled + label {
    opacity: 0.5;
}