<h1>Organization index</h1>

<dl>
<dt>dashboard</dt>
<dt>create a new event</dt>
  <dd>form (deets)</dd>
  <dd>add volunteers to email(filters)</dd>
  <dd>update events board</dd>
<dt>update an event</dt>
  <dd>send email, update events board</dd>
<dt>cancel an event</dt>
  <dd>send email, update events board</dd>
</dl>