<h1>Organization index</h1>

dashboard

create a new event
  -form (deets)
  -add volunteers to email(filters)
  -update events board

update an event
  -send email, update events board

cancel an event
  -send email, update events board
