<h1>users index</h1>

Pic: showing your cuteness and loveability

My events
  -what you've signed up for 
  -deets(where/when/who/how)

Upcoming Events
  (a board of events you can choose to join. Maybe they are starred if they've been filtered-meaning you are expecially useful for them!)


Past Events
  A record of past involvement and attendance(visible as a reliability rating or no?)
