%h1 user profile page

%dl
  %dt Pic
  %dd showing your cuteness and loveability
  %dt My events
  %dd what you've signed up for 
  %dd deets(where/when/who/how)
  %dt Upcoming Events
  %dd a board of events you can choose to join. Maybe they are starred if they've been filtered-meaning you are expecially useful for them!
  %dt Past Events
  %dd A record of past involvement and attendance(visible as a reliability rating or no?)

  = p current_user.relevant_events
  

  = p current_user.firstname 