#container
  .slider.top
    %ul.slides

      %li.slide.wrapper
        .col-xs-3.col-md-4.text-center.landing-choice
        .col-xs-6.col-md-4.text-center.landing-choice  
          %p.organization HEY!
        .col-xs-3.col-md-4.text-center.landing-choice

      %li.slide.wrapper
        .col-xs-3.col-md-4.text-center.landing-choice
        .col-xs-6.col-md-4.text-center.landing-choice  
          %p.volunteer.back YOU!
        .col-xs-3.col-md-4.text-center.landing-choice

  .col-xs-12.col-md-12.text-center.advk-logo

  .slider.bottom
    %ul.slides
  
      %li.slide.wrapper
        .col-xs-3.col-md-4.text-center.landing-choice
        .col-xs-6.col-md-4.text-center.landing-choice
          %p.volunteer TICKLE!
        .col-xs-3.col-md-4.text-center.landing-choice

      %li.slide.wrapper
        .col-xs-3.col-md-4.text-center.landing-choice
        .col-xs-6.col-md-4.text-center.landing-choice
          %p.organization.back BRAP!
        .col-xs-3.col-md-4.text-center.landing-choice







