<h1>Public page</h1>

<h2><%= link_to "User", users_path %></h2>
<%= link_to "Sign in with Twitter", "/auth/twitter"%>

<p>________AdVk!___________</p>

<h2><%= link_to "Organization", organizations_path %></h2>