%h1 organizations index

- @users.each do |user|
  - volunteer = user.firstname
  %p #{volunteer}

/ %h3 Organization sign in/up
/ = form_for @organizations do |f|

/   = f.label "name of organization"
/   = f.text_field :name
/   %br
/   = f.label "name of representative"
/   = f.text_field :representative_name
/   %br
/   = f.label "email"
/   = f.text_field :email
/   %br
/   = f.label "password"
/   = f.password_field :password
/   %br
/   = f.submit "Submit"
/   %br

/ = form_tag session_path do#, :method => :post do 

/   = label_tag "email"
/   = text_field_tag "email"
/   %br
/   = label_tag :password
/   = password_field_tag :password
/   %br
/   = submit_tag "Submit"

  
/ - if current_user
/   %h3= "logout, #{current_user.name}"
/   = button_to "Logout", session_path, method: :delete

